@import url(https://fonts.googleapis.com/css?family=Delius+Swash+Caps);
@import url(https://fonts.googleapis.com/css?family=Belgrano);

*{ margin:0; padding:0; box-sizing:border-box;}

body {
	background-image: url("yellow dialognal background.jpg");
  	background-size: cover;
  	background-repeat: no-repeat;
	font-family: 'Belgrano', serif;
	text-align: center;
	font-size: 16px;
	color: #421C52;
}
#title {
	font-family: 'Lucida Handwriting',arial,'sans-serif';
	font-size: 2em;
	padding: .5em;
}
#slogan {
	font-family: 'Delius Swash Caps', cursive, sans-serif;
	text-align: center;
	font-size: 1.2em;
	color: #421C52;
	font-style: italic;
	padding: .5em;
}
section {
	width: 63%;
	float:left;
}
aside {
	background-color: rgba(16,144,255,.25);
	width: 33%;
	float: right;
	padding: 5% 0;
}
p {
	padding: 7%;
}
a {
	text-decoration: none;
	padding: 2%;
}
ul {
	font-family: "Comic Sans MS", sans-serif;
	text-align: left;
	font-size: 20px;
	color: #421C52;
}
div {
	display: inline-block;
	padding: 2% 5%;
}

@media (max-width: 660px) {
  aside {
    display: block;
    height: 50%;
    width: 100%;
  }
  section {
  	width: 100%;
  	text-align: center;
  }
}
.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}