body {
	font-family: "Comic Sans MS", sans-serif;
	text-align: center;
	color: #C24344;
	background-color: #667AFF;
}
h3 {
	font-family: "Comic Sans MS", sans-serif;
	text-align: center;
	color: #C24344;
	font-style: italic;
}
ul {
	font-family: "Comic Sans MS", sans-serif;
	text-align: left;
	color: #C24344;
}