#title {
	text-decoration: underline;
}
body {
	font-family: "Comic Sans MS", sans-serif;
	text-align: center;
	color: #421C52;
	background-color: #667AFF;
}
#slogan {
	font-family: "Comic Sans MS", sans-serif;
	text-align: center;
	color: #421C52;
	font-style: italic;
}
ul {
	font-family: "Comic Sans MS", sans-serif;
	text-align: left;
	font-size: 14px;
	color: #421C52;
}
div {
	display: inline-block;
	margin: 20px;